
  @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background: black;
}
h1,h2{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.textoRojo{
    text-shadow: 0 0 5px #e75353,
    0 0 10px  #e75353,
    0 0 20px  #e75353,
    0 0 30px  #e75353,
    0 0 40px  #e75353,
    0 0 50px  #e75353,
    0 0 60px  #e75353,
    0 0 70px  #e75353;
    
}

.textoAmarillo{
    text-shadow: 0 0 5px #867f1e,
    0 0 10px  #867f1e,
    0 0 20px  #867f1e,
    0 0 30px  #867f1e,
    0 0 40px  #867f1e,
    0 0 50px  #867f1e,
    0 0 60px  #867f1e,
    0 0 70px  #867f1e;
    
}
.textoVerde{
    text-shadow: 0 0 5px #76e75a,
    0 0 10px  #76e75a,
    0 0 20px  #76e75a,
    0 0 30px  #76e75a,
    0 0 40px  #76e75a,
    0 0 50px  #76e75a,
    0 0 60px  #76e75a,
    0 0 70px  #76e75a;
    
}

.botonRojo{
    background: #e75353;
}
.botonAmarillo{
    background: #867f1e;
}
.botonVerde{
    background: #76e75a;
}
.btn {
    transition: all 0.3s ease;
  } 

.btn:hover{
    filter: brightness(120%);
}